h1 {
    text-align: center;
}

#clock {
    width: 60vw;
    margin: 1vw auto;
    padding: 1vh;
    background-color: lightblue;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    white-space: pre;
    border-radius: 2em;
}

#alarm {
    text-align: center;
    margin: auto;
    width: 40vw;
}

fieldset {
    background-color: burlywood;
    height: 8vh;
}

#weather {
    text-align: center;
    margin: 1em auto;
    background-color: goldenrod;
    width: 30vw;
}

#cityInput {
    margin-top: 0.5em;
}

#weathCard {
    /*  background-image: linear-gradient(to bottom right, rgb(5, 11, 65), rgb(76, 0, 255));*/
    width: 25vw;
    height: 26vh;
    margin: auto;
    text-align: center;
}

figure {
    font-style: italic;
    margin: auto;
    margin-top: 0;
}

figure>img {
    max-height: 6em;
    margin: 0;
}

figcaption {
    width: 20vw;
    margin: auto;
    margin-bottom: 1em;
}

.city {
    margin-top: 0.5em;
    margin-bottom: 0;
}

footer {
    text-align: center;
}

.forecastCards {
    background-color: deepskyblue;
    width: 25%;
    text-align: center;
}

.forecastCards {
    display: inline-block;
    outline-style: solid;
}